<%- include('layouts/header') %>
<form method="post">
    <label> pseudo
        <input type="text" placeholder="Choisissez votre pseudo">
    </label>
    <input type="submit">
</form>
<%- include('layouts/footer') %>